################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

*.json
*.exe
*.LST
*.bak
*.hex
*.lnp
*.M51
*.OBJ
*.plg
*.uvopt
*.uvproj